services:
  backend:
    build:
      context: ./backend
    container_name: mon_backend
    ports:
      - "3001:3001"

  nginx:
    build:
      context: .
      dockerfile: nginx/Dockerfile
    container_name: nginx
    ports:
      - "8080:80"
    depends_on:
      - backend

volumes:
  db_data:
